@charset "UTF-8";
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
span,
div,
p,
a,
form,
input {
  margin: 0;
  padding: 0;
  font-family: helvetica; }

html,
body {
  height: 100%;
  overflow: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  border: none; }

img {
  display: block; }

* {
  box-sizing: border-box;
  outline: none; }

body {
  font-family: Tahoma, 微软雅黑, "Microsoft Yahei", "hiragino sans gb", Helvetica, Arial, 宋体, sans-serif;
  line-height: 1.2em; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.jc-start {
  justify-content: flex-start; }

.jc-end {
  justify-content: flex-end; }

.jc-center {
  justify-content: center; }

.jc-between {
  justify-content: space-between; }

.jc-around {
  justify-content: space-around; }

.ai-start {
  align-items: flex-start; }

.ai-end {
  align-items: flex-end; }

.ai-center {
  align-items: center; }

.ai-between {
  align-items: space-between; }

.ai-around {
  align-items: space-around; }

.flex-1 {
  flex: 1; }

.flex-grow-1 {
  flex-grow: 1; }

.m-0 {
  margin: 0rem; }

.m-1 {
  margin: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.m-3 {
  margin: 1rem; }

.m-4 {
  margin: 1.5rem; }

.m-5 {
  margin: 3rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 0.25rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mt-3 {
  margin-top: 1rem; }

.mt-4 {
  margin-top: 1.5rem; }

.mt-5 {
  margin-top: 3rem; }

.mr-0 {
  margin-right: 0rem; }

.mr-1 {
  margin-right: 0.25rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mr-3 {
  margin-right: 1rem; }

.mr-4 {
  margin-right: 1.5rem; }

.mr-5 {
  margin-right: 3rem; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mb-4 {
  margin-bottom: 1.5rem; }

.mb-5 {
  margin-bottom: 3rem; }

.ml-0 {
  margin-left: 0rem; }

.ml-1 {
  margin-left: 0.25rem; }

.ml-2 {
  margin-left: 0.5rem; }

.ml-3 {
  margin-left: 1rem; }

.ml-4 {
  margin-left: 1.5rem; }

.ml-5 {
  margin-left: 3rem; }

.p-0 {
  padding: 0rem; }

.p-1 {
  padding: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.p-3 {
  padding: 1rem; }

.p-4 {
  padding: 1.5rem; }

.p-5 {
  padding: 3rem; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pt-0 {
  padding-top: 0rem; }

.pt-1 {
  padding-top: 0.25rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pt-3 {
  padding-top: 1rem; }

.pt-4 {
  padding-top: 1.5rem; }

.pt-5 {
  padding-top: 3rem; }

.pr-0 {
  padding-right: 0rem; }

.pr-1 {
  padding-right: 0.25rem; }

.pr-2 {
  padding-right: 0.5rem; }

.pr-3 {
  padding-right: 1rem; }

.pr-4 {
  padding-right: 1.5rem; }

.pr-5 {
  padding-right: 3rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pb-3 {
  padding-bottom: 1rem; }

.pb-4 {
  padding-bottom: 1.5rem; }

.pb-5 {
  padding-bottom: 3rem; }

.pl-0 {
  padding-left: 0rem; }

.pl-1 {
  padding-left: 0.25rem; }

.pl-2 {
  padding-left: 0.5rem; }

.pl-3 {
  padding-left: 1rem; }

.pl-4 {
  padding-left: 1.5rem; }

.pl-5 {
  padding-left: 3rem; }

.text-black {
  color: #000000; }

.bg-black {
  background: #000000; }

.text-black-1 {
  color: #4B4C4D; }

.bg-black-1 {
  background: #4B4C4D; }

.text-gray {
  color: #b7b7b7; }

.bg-gray {
  background: #b7b7b7; }

.text-blue {
  color: #27d5bf; }

.bg-blue {
  background: #27d5bf; }

.text-blue-1 {
  color: #4EE5D2; }

.bg-blue-1 {
  background: #4EE5D2; }

.text-white {
  color: #fff; }

.bg-white {
  background: #fff; }

.text-gray-1 {
  color: #f3f5f7; }

.bg-gray-1 {
  background: #f3f5f7; }

.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.fs-xxs {
  font-size: 0.6154rem; }

.fs-xs {
  font-size: 0.7692rem; }

.fs-sm {
  font-size: 0.9321rem; }

.fs-md {
  font-size: 1rem; }

.fs-lg {
  font-size: 1.07698rem; }

.fs-xl {
  font-size: 1.2308rem; }

.clearfix {
  zoom: 1; }
  .clearfix::after {
    content: '';
    display: table;
    clear: both; }

.wrap {
  height: 100%; }
  .wrap .top {
    position: sticky;
    top: 0;
    z-index: 8; }
    .wrap .top .head {
      height: 1.92rem; }
      .wrap .top .head .logo {
        width: 2.3893333333rem;
        height: 0.8533333333rem; }
      .wrap .top .head .search {
        width: 0.8rem;
        height: 0.8rem; }
    .wrap .top .nav {
      position: relative;
      position: relative;
      width: 100%;
      height: 1.6rem;
      background: #fff; }
      .wrap .top .nav::before {
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: black; }
        @media only screen and (-webkit-device-pixel-ratio: 2) {
          .wrap .top .nav::before {
            tranfrom: scaleY(0.5); } }
        @media only screen and (-webkit-device-pixel-ratio: 3) {
          .wrap .top .nav::before {
            tranfrom: scaleY(0.33333333); } }
      .wrap .top .nav .list {
        white-space: nowrap;
        height: 100%;
        float: left;
        padding: 0.2986666667rem 0 0.2986666667rem 0; }
        .wrap .top .nav .list li {
          display: inline-block;
          font-size: 0.5rem;
          height: 100%;
          text-align: center;
          vertical-align: top;
          margin: 0 0.75rem; }
          .wrap .top .nav .list li a {
            color: #000000; }
        .wrap .top .nav .list .smallB {
          height: 0.0853333333rem;
          width: 1.0026666667rem;
          position: absolute;
          transform: translateX(18px);
          bottom: 1px;
          background-color: #27d5bf; }
  .wrap .content .carousel-wrap {
    position: relative; }
    .wrap .content .carousel-wrap .list {
      list-style: none;
      overflow: hidden;
      position: absolute; }
      .wrap .content .carousel-wrap .list li {
        float: left; }
        .wrap .content .carousel-wrap .list li img {
          width: 100%;
          height: 9.1733333333rem;
          display: block; }
        .wrap .content .carousel-wrap .list li a {
          display: block; }
    .wrap .content .carousel-wrap .points-wrap {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      z-index: 1; }
      .wrap .content .carousel-wrap .points-wrap span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: grey;
        margin-left: 5px; }
        .wrap .content .carousel-wrap .points-wrap span.active {
          background: pink; }
  .wrap .content .card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    background-color: #fff; }
    .wrap .content .card .card-nav {
      display: flex;
      padding: 0.25rem 0; }
      .wrap .content .card .card-nav .card-nav-content {
        padding: 0 0.5rem;
        font-weight: bold;
        font-size: 0.6154rem; }
      .wrap .content .card .card-nav .card-change {
        padding: 0 0.5rem;
        font-size: 0.45rem; }
    .wrap .content .card .card-content {
      flex-wrap: wrap;
      display: flex;
      justify-content: center; }
      .wrap .content .card .card-content img {
        width: 7.68rem;
        padding: 0 0.25rem; }
      .wrap .content .card .card-content .card-content-box {
        padding: 0 0.5rem; }
        .wrap .content .card .card-content .card-content-box .img-content {
          font-size: 0.5rem;
          height: 20px; }
        .wrap .content .card .card-content .card-content-box .img-author {
          font-size: 0.45rem;
          height: 20px;
          color: #b7b7b7; }
  .wrap .bottom {
    position: sticky;
    bottom: 0;
    z-index: 8;
    height: 100/rem; }
    .wrap .bottom img {
      width: 1.6213333333rem;
      height: 1.6213333333rem; }
    .wrap .bottom p {
      font-size: 0.45rem; }
    .wrap .bottom .button {
      font-size: 0.6rem;
      font-weight: bold;
      background: #27d5bf; }
  .wrap .scrollBar {
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: darkgray;
    z-index: 9;
    transition: 1s opacity;
    opacity: 0; }

/*# sourceMappingURL=set.css.map */
